@using System.Diagnostics
@using TypicalTypist.Models
@using TypicalTypist.Services

@page "/test"

@inject WordService wordService
@inject IJSRuntime JSRuntime
@inject UserService userService
@inject UserStatService userStatsService

@* Start HTML *@

<PageTitle>Home</PageTitle>
<p>Time: @elapsedTime | Speed: @speed | Accuracy: @accuracy</p>

<div class="typing-container">
    <div @ref="textInput"
    tabindex="0"
    @onkeyup="OnInput"
    @onfocus="OnFocus"
    @onblur="OnBlur"
    class="@(!isFocused ? "blurred" : "") no-focus-visible"
    >
    @if (testInstance?.Any() == true && correctStatus.Count > 0)
    {
        @foreach (var tuple in testInstance.Select((word, index) => (word, index)))
        {
            <span class="word">
                @foreach (var tuple2 in tuple.word.Chars.Select((Chars, index) => (Chars, index)))
                {
                    @if ((tuple2.index + tuple.word.StartIndex == currIndex) && isFocused && (correctStatus.Count > tuple2.index + tuple.word.StartIndex))
                    {
                        <span class="cursor"></span>
                    }
                    <span style="display: inline-block;"
                        class="@(tuple2.index + tuple.word.StartIndex < correctStatus.Count
                        ? (correctStatus[tuple2.index + tuple.word.StartIndex] == true ? "correct"
                            : (correctStatus[tuple2.index + tuple.word.StartIndex] == false ? "incorrect" : "neutral"))
                        : "neutral")">
                        @tuple2.Chars
                    </span>
                }
            </span>
            @if (tuple.index < testInstance.Count() - 1)
            {
                <span
                    class="space @(correctStatus[tuple.word.StartIndex + tuple.word.Chars.Count] == true ? "correct" 
                    : (correctStatus[tuple.word.StartIndex + tuple.word.Chars.Count] == false ? "incorrect" : "neutral"))">
                    @if (tuple.word.StartIndex + tuple.word.Chars.Count == currIndex && isFocused)
                    {
                        <span class="cursor"></span>
                    }
                    &#8901;
                </span>
            }
        }
    }
    </div>
    @if(!isFocused){
        <div class="focus-text">
            Click Here or Push Any Key to Focus
        </div>
    }
</div>
<p>
    Prev test speed: @foreach(double spd in speedList) {
        <span>@speedList.Count: @spd</span> 
    }
</p>
<p>
    Prev test accuracy: @foreach(double acc in accuracyList) {
        <span>@accuracyList.Count: @acc</span> 
    }
</p>
@if(userService.IsLoggedIn)
{
    <p>
        Welcome, @userService.activeUser.UserName
    </p>
}
@code 
{
    // Variables
    // Word Lists
    private HashSet<char> legalChars = new() {'a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z',
                                              'A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z',
                                              '1','2','3','4','5','6','7','8','9', '0', '.', ',', '\'', '"', '?', '!', '*', '=', '+', '-', '/', '\\', '<', 
                                              '>', '(', ')', '{', '}', '[', ']', '^', '~', '%', '$', '#', '@', '`', '&', '|', ' '};    
    private List<WordTestObject> testInstance = new();
    private List<CharChecker> charsTypedList = new();
    private List<char> currTestKey = new();

    // Stat Lists
    private List<BigraphData> bigraphDataList = new();
    private List<UserBigraphStatDTO> bigraphStats = new();
    private List<UserKeyStatDTO> keyStats = new();
    private UserStatDTO userStats = new(); 

    // Correct Status
    private List<bool?> correctStatus = new List<bool?>();
    private bool correct = false;

    // Key Counters
    private int includedKeysPressed = 0;
    private int correctKeys = 0;
    private int totalKeysPressed = 0;

    // Timer
    private Stopwatch stopwatch = new Stopwatch();
    private Task? timerTask;
    private CancellationTokenSource? cancellationTokenSource;
    private double accurateTime;
    private int elapsedTime;

    // Calcs
    List<decimal> accuracyList = [];
    List<decimal> speedList = [];
    decimal speed = 0;
    decimal accuracy = 0;
    decimal prevAccuracy = 0;
    decimal prevSpeed = 0;
    decimal totalAccuracy = 0;
    decimal totalSpeed = 0;
    int rountCount = 0;

    // Other
    private ElementReference textInput;
    private DotNetObjectReference<Test>? dotNetRef;
    private UserTypingTestDTO previousTest = new();
    private int currIndex = 0;
    private bool isFocused = true;
    private char userLetter;
    private char currChar;
    private char prevChar;
    private bool backspacePush = false;
    private int backspaceCounter = 0;
    private int backspaceTotalCount = 0;
    private bool isActiveSession = false;
    
    // Lifecycle Methods
    protected override void OnInitialized() 
    {
        JSRuntime.InvokeVoidAsync("scrollTypingContainer");
        dotNetRef = DotNetObjectReference.Create(this);
    }

    protected override async Task OnInitializedAsync()
    {
        // Get first test instance and instantiate our currTestKey var
        testInstance = await wordService.GetRandomWordsTest();

        if(testInstance.Count > 0)
        {
            ProcessCheckTestInstance();
        }

        StateHasChanged();
    } 

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender) {
            await JSRuntime.InvokeVoidAsync("addSpacePreventListener");
            await textInput.FocusAsync();
        }
    }

    public void Dispose()
    {
        DisposeAsync().AsTask().GetAwaiter().GetResult();
    }

    // Methods
    // Timer
    private void StartTimer()
    {
        if (!stopwatch.IsRunning)
        {
            stopwatch.Start();
            cancellationTokenSource = new CancellationTokenSource();
            timerTask = UpdateTimerAsync(cancellationTokenSource.Token);
        }
    }

    private async Task UpdateTimerAsync(CancellationToken cancellationToken)
    {
        while (!cancellationToken.IsCancellationRequested)
        {
            accurateTime = stopwatch.Elapsed.TotalSeconds;
            elapsedTime = (int)stopwatch.Elapsed.TotalSeconds;

            await InvokeAsync(StateHasChanged);

            await Task.Delay(60, cancellationToken);
        }
    }

    private void PauseTimer()
    {
        if (stopwatch.IsRunning)
        {
            cancellationTokenSource?.Cancel();
            stopwatch.Stop();
        }
    }

    private void ResumeTimer()
    {
        if (!stopwatch.IsRunning)
        {
            stopwatch.Start();
            cancellationTokenSource = new CancellationTokenSource();
            timerTask = UpdateTimerAsync(cancellationTokenSource.Token);
        }
    }

    private void ResetTimer()
    {
        if(!stopwatch.IsRunning)
        {
            stopwatch.Reset();
        }
    }

    // Handling Focus / Blur
    private async Task OnBlur()
    {
        PauseTimer();
        isFocused = false;
        await JSRuntime.InvokeVoidAsync("addGlobalKeyListener", dotNetRef);
    }

    private async Task OnFocus()
    {
        isFocused = true;
        if(isActiveSession)
        {
            ResumeTimer();
        }
        await JSRuntime.InvokeVoidAsync("removeGlobalKeyListener", dotNetRef);
    }

    [JSInvokable("OnKeyUp")]
    public void OnKeyUp()
    {
        textInput.FocusAsync();
    }

    public async ValueTask DisposeAsync()
    {
        await JSRuntime.InvokeVoidAsync("removeGlobalKeyListener");
        dotNetRef?.Dispose();
    }

    // Handling Input
    private void OnInput(KeyboardEventArgs e)
    {
        StartTimer();
        if(!isActiveSession)
        {
            isActiveSession = true;
        }
        if(backspacePush == true)
        {
            backspacePush = false;
        }

        char lastTypedChar = e.Key.Length == 1 ? e.Key[0] : '\0';
        userLetter = lastTypedChar;

        // Keep count of non-alphabetical characters outside of space, shift, and backspace
        if (e.Key == "Backspace")
        {
            if(currIndex > 0)
            {
                currIndex--;
                backspaceCounter++;
                backspaceTotalCount++;
            }
            correctStatus[currIndex] = null;
            backspacePush = true;
        }

        // Handle alphabetical keys & space
        else if(legalChars.Contains(lastTypedChar))
        {
            includedKeysPressed++;

            if (currIndex < currTestKey.Count - 1)
            {
                currIndex++;
            }

            if (currIndex < correctStatus.Count)
            {
                if (currChar == lastTypedChar)
                {
                    correct = true;
                    correctKeys++;
                    correctStatus[currIndex - 1] = true;
                }
                else
                {
                    correct = false;
                    correctStatus[currIndex - 1] = false;
                }
            }
            includedKeysPressed = includedKeysPressed - backspaceCounter;
            backspaceCounter = 0;
        }
        JSRuntime.InvokeVoidAsync("scrollTypingContainer");
        calcAccuracy();
        if(elapsedTime > 0) {
            calcSpeed();
        }
        GetNextChar();
    }

    private void GetNextChar()
    {
        if(backspacePush)
        {
            currChar = currTestKey[includedKeysPressed - backspaceCounter];
            Console.WriteLine("After the backspace, the new currChar is: " + currChar); 
        }
        else
        {
            if(legalChars.Contains(userLetter)) 
            {
                charsTypedList.Add(new CharChecker{Letter = currChar, Time = accurateTime, Correct = correct, PushedLetter = userLetter});
            }
            prevChar = currChar;
            currChar = currTestKey[includedKeysPressed];
            if(includedKeysPressed == currTestKey.Count - 1)
            {
                PauseTimer();
                ResetTimer();
                if(userService.IsLoggedIn)
                {
                    previousTest.UserId = userService.activeUser.UserId;
                    previousTest.CharCount = currTestKey.Count;
                    previousTest.IncorrectCount = charsTypedList.Count(c => !c.Correct);
                    previousTest.Mode = "random";
                    previousTest.Speed = speed;
                    previousTest.Accuracy = accuracy * 100;
                }
                accuracyList.Add(accuracy);
                speedList.Add(speed);
                prevAccuracy = accuracy;
                prevSpeed = speed;
                rountCount++;
                StartNewTestInstance();
            }   

        } 
    }

    private async void StartNewTestInstance() 
    {
        // Stat Calcs
        calcTotalAccuracy();
        calcTotalSpeed();
        foreach(CharChecker check in charsTypedList)
        {
            Console.WriteLine(check.Letter);
            Console.WriteLine(check.Correct);
            Console.WriteLine(check.Time);
        }

        if(userService.IsLoggedIn)
        {
            GenerateUserBigraphStatDTO();
            GenerateKeyStats();
            GenerateUserStats();
            if (await userStatsService.PostTest(previousTest) == true)
            {
                previousTest = new UserTypingTestDTO();
            }
            if (await userStatsService.PostBigraphStats(bigraphStats) == true)
            {
                bigraphStats = new List<UserBigraphStatDTO>();
            }
            if (await userStatsService.PostKeyStats(keyStats) == true)
            {
                keyStats = new List<UserKeyStatDTO>();
            }
            if (await userStatsService.PostStats(userStats) == true)
            {
                userStats = new UserStatDTO();
            }
        }

        currTestKey = new();
        charsTypedList = new();
        correctStatus = new();
        testInstance = new();
        bigraphDataList = new();
        isActiveSession = false;
        totalKeysPressed = 0;
        includedKeysPressed = 0;
        correctKeys = 0;
        currIndex = 0;
        elapsedTime = 0;
        accurateTime = 0;
        speed = 0;
        accuracy = 0;

        testInstance = await wordService.GetRandomWordsTest();

        if(testInstance.Any())
        {
            ProcessCheckTestInstance();
            StateHasChanged();
        }

    }

    // Calculations
    private void calcAccuracy()
    {
        totalKeysPressed = includedKeysPressed + backspaceTotalCount;
        accuracy = (decimal)correctKeys / (decimal)totalKeysPressed;
    }

    private void calcSpeed()
    {
        decimal elapsedTimeMins = (decimal)stopwatch.Elapsed.TotalMilliseconds / 1000 / 60;
        speed = (decimal)(totalKeysPressed / 4.7) / elapsedTimeMins;
    }

    private void calcTotalAccuracy()
    {
        decimal total = 0;
        foreach(decimal acc in accuracyList)
        {
            total += acc;
        }
        totalAccuracy = (decimal)total / accuracyList.Count;
    }

    private void calcTotalSpeed()
    {
        decimal total = 0;
        foreach(decimal spd in speedList)
        {
            total += spd;
        }
        totalSpeed = total / speedList.Count;
    }

    private void ProcessCheckTestInstance() 
    {
        int totalLength = 0;

        foreach(WordTestObject testObj in testInstance) 
        {
            foreach(char word in testObj.Chars) 
            {
                currTestKey.Add(word);
                totalLength++;
            }
            currTestKey.Add(' ');
            totalLength++;
        }

        correctStatus = new List<bool?>(Enumerable.Repeat((bool?)null, totalLength));
        currChar = currTestKey[0];

    }

    // Stat Generation Methods
    private void GenerateUserBigraphStatDTO() 
    {
        if(charsTypedList.Count >= 2)
        {
            // Fill bigraphDataList
            for(int i = charsTypedList.Count - 1; i >= 1; i--)
            {
                int incorrectCount = 0;
                int correctCount = 0;
                string newBigraph = charsTypedList[i - 1].Letter.ToString() + charsTypedList[i].Letter.ToString();
                if(charsTypedList[i - 1].Correct == false || charsTypedList[i].Correct == false)
                {
                    incorrectCount++;
                }
                else
                {
                    correctCount++;
                }
                bigraphDataList.Add(new BigraphData
                {
                    Bigraph = newBigraph,
                    Speed = (decimal)(charsTypedList[i].Time - charsTypedList[i - 1].Time),
                    IncorrectCount = incorrectCount,
                    CorrectCount = correctCount
                });
                incorrectCount = 0;
                correctCount = 0;
            }
            foreach(BigraphData data in bigraphDataList)
            {
                // Handle first instance
                if(!bigraphStats.Any(s => s.Bigraph == data.Bigraph) || bigraphStats.Count == 0)
                {
                    bigraphStats.Add(new UserBigraphStatDTO
                    {
                        UserId = userService.activeUser.UserId,
                        Bigraph = data.Bigraph,
                        Speed = data.Speed,
                        CorrCount = data.CorrectCount,
                        Accuracy = data.CorrectCount * 100,
                        Quantity = 1
                    });
                }
                // Handle all ensuing instances
                else
                {
                    int index = bigraphStats.FindIndex(s => s.Bigraph == data.Bigraph);
                    if(index >= 0)
                    {
                        bigraphStats[index].Quantity++;
                        if(data.CorrectCount == 1)
                        {
                            bigraphStats[index].CorrCount++;
                        }
                        bigraphStats[index].Speed = (bigraphStats[index].Speed + data.Speed) / bigraphStats[index].Quantity;
                        bigraphStats[index].Accuracy = ((bigraphStats[index].CorrCount) / bigraphStats[index].Quantity) * 100;
                    }
                }
            }
        }
    }

    private void GenerateKeyStats()
    {
        var frequencyMap = charsTypedList.Aggregate(new Dictionary<string, UserKeyStatFull>(), (acc, current) =>
        {
            string charKey = current.Letter.ToString();

            // Initialize key's stat if new
            if (!acc.ContainsKey(charKey))
            {
                acc[charKey] = new UserKeyStatFull
                {
                    Key = charKey,
                    Frequency = 0,
                    CorrectCount = 0,
                    TotalSpeed = 0,
                    BigraphCount = 0
                };
            }

            // Handle case where it's not new
            acc[charKey].Frequency++;
            if (current.Correct)
            {
                acc[charKey].CorrectCount++;
            }

            // Update bigraph data
            foreach (var bigraphData in bigraphDataList)
            {
                if (bigraphData.Bigraph[1].ToString() == charKey)
                {
                    acc[charKey].TotalSpeed += bigraphData.Speed;
                    acc[charKey].BigraphCount++;
                }
            }

            return acc;
        });

        // Convert frequencyMap to a list of frequency data with calculated accuracy and speed
        var frequencyArr = frequencyMap.Values.Select(charData => new
        {
            Char = charData.Key,
            Frequency = charData.Frequency,
            Accuracy = charData.Frequency > 0 ? (decimal)charData.CorrectCount / (decimal)charData.Frequency * 100 : 0,
            Speed = charData.BigraphCount > 0 ? charData.TotalSpeed / (decimal)charData.BigraphCount : 0
        }).ToList();

        // Populate keyStats with final values
        foreach (var k in frequencyArr)
        {
            keyStats.Add(new UserKeyStatDTO
            {
                UserId = userService.activeUser.UserId,
                Key = k.Char,
                TotalTyped = k.Frequency,
                Accuracy = k.Accuracy,
                Speed = k.Speed
            });
        }
    }

    private void GenerateUserStats()
    {
        userStats.UserId = userService.activeUser.UserId;
        userStats.CharsTyped = charsTypedList.Count;
        userStats.TimeTyped = elapsedTime;
        userStats.Accuracy = prevAccuracy * 100;
        userStats.WPM = prevSpeed;
    }

}
